     <footer>
        <ul class="meta inline-list">
          <li><a href="https://www.facebook.com/" target="_blank" style="color: #1da1f2; font-weight: bolder;">Facebook</a></li>
          <li><a href="https://twitter.com/" target="_blank" style="color: #1da1f2; font-weight: bolder;">Twitter</a></li>
          <li><a href="https://www.instagram.com/" target="_blank" style="color: #3f729b ; font-weight: bolder;">Instagram</a></li>
          <li><a href="https://www.google.com/" target="_blank" style="color: #BB001B; font-weight: bolder;">Gmail</a></li>
        </ul>
      </footer>