<nav class="navbar navbar-dark">
    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit" href="/">Home</button>
    <form class="form-inline my-2 my-lg-0 ml-auto">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">{{UserName}}</button>
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit" href="/about">About Us</button>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Login</button>
    </form>
</nav>